<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Slayer</title>
   <link rel="stylesheet" href="../../Getting Started/bulma.min.css">
    <!-- <link rel="stylesheet" href="css/foundation.min.css"> -->
    <!-- <link rel="stylesheet" href="css/app.css"> -->
</head>
<body>
<div id="app">
    <section class="row" v-if="gameHasStarted">
        <div class="small-6 columns">
            <h1 class="text-center">{{player.name}}</h1>
            <div class="healthbar-cont">
                <div class="healthbar" :style="{width:player.health+'%'}" >
                    
                </div>
                <span class="healthPercentage">{{player.health}}%</span>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">{{monster.name}}</h1>
            <div class="healthbar-cont">
                <div class="healthbar" :style="{width:monster.health+'%'}">
                    
                </div>
                <span class="healthPercentage">{{monster.health}}%</span>
            </div>
        </div>
    </section>
    <section class="row controls">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="gameHasStarted">
        <div class="small-12 columns">
            <button id="attack" @click="startAttack">ATTACK</button>
            <button id="special-attack">SPECIAL ATTACK</button>
            <button id="heal">HEAL</button>
            <button id="give-up">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="log in fightHistory" :style="{'background-color':log.type}">
{{log.log}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="../../Getting Started/vue.js"></script>
<script src="../app.js"></script>
</body>
</html>